<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <i class="icono fa-solid fa-fire"></i>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Catálogo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div *ngIf="this.cookie" [ngStyle]="{'display': 'block'}">
        <li  *ngIf="this.cookieParseada.id == 2" [ngStyle]="{'display': 'block'}" class="nav-item">
          <a class="anadir" routerLink="/set-game">Añadir juegos</a>
        </li>

      </div>
        <li  *ngIf="cookie" [ngStyle]="{'display': 'block'}" class="nav-item">
          <a routerLink="/favoritos">Ver mis favoritos</a>
        </li>
      </ul>
    <form class="d-flex">
      <i class="icono fa-solid fa-magnifying-glass"></i>
      <div class="search">
        <input [formControl]="search" class="buscar" type="text" placeholder="Buscar..."/>
      </div>
      <i class="icono fa-regular fa-user"></i>
      <div *ngIf="!this.cookie" [ngStyle]="{'display': 'block'}"> <button  type="button" class="btn btn-primary" routerLink="/login">LOGIN</button></div>
      <div *ngIf="this.cookie" [ngStyle]="{'display': 'block'}"><p class="usuario"> {{this.cookieParseada.email}}</p></div>
      <div *ngIf="this.cookie" [ngStyle]="{'display': 'block'}"><button type="button" (click)="logout()" class="btn btn-light">Logout</button></div>
    </form>
  </div>
  </div>
</nav>
