<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<div class="container">
  <div class="formulario">
    <h3>Creacion de juego</h3>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del juego</label>
        <input type="text" class="form-control" formControlName="name" required
          id="exampleInputEmail1" aria-describedby="emailHelp" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Precio...</label>
        <input type="number" class="form-control" formControlName="price" required
          id="exampleInputEmail1" aria-describedby="emailHelp" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descripción del juego...</label>
        <textarea class="form-control is-invalid" formControlName="descri" id="descri" placeholder="Descripción..." required></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Link de descarga...</label>
        <input type="text" formControlName="link" required
          class="form-control" id="exampleInputPassword1"/>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Imagen principal...</label>
      <input type="file" formControlName="img" (change)="fileEvent($event)" required class="form-control" id="exampleInputPassword1"/>
        <button (click)="subirArchivo($event)">Subir archivo</button>
    </div>
      <div class="span">
        <button class="btn btn-primary">Guardar</button>
        <br />
        <br />
        <a routerLink="/">Volver</a>
      </div>
    </form>
  </div>
</div>
