<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
</style>

<div class="backimage">

    <span class="reco">PREMIADO Y RECOMENDADO</span>
    <div class="divlol">
      <span class="lol"> League of Legends </span>
    </div>
    <div class="text">
      <span class="textSpan">
        League of Legends es un juego en línea competitivo y vertiginoso que combina
        la velocidad e intensidad de un RTS con elementos RPG.
      </span>
      <div class="botones">
       <a href="https://signup.leagueoflegends.com/es-es/signup/redownload" target="_blank"><div class="install"><span>INSTALL GAME</span></div></a>
        <div class="add"><span>ADD TO FAVORITES</span></div>
      </div>
    </div>
  </div>

