h4 {
  padding: 20px;
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  รง
}
footer {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #24262e;
}
